* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.calculate {
    position: relative;
    margin: 50px auto;
    width: 420px;
    height: 385px;
    overflow: hidden;
    border: 1px solid #000;
   
    
}

.display {
    
    width: 370px;
    height: 60px;
    margin: 25px 25px 15px 25px; 
    display: flex;
    justify-content: end;
    align-items: center;
    
    
}

.display-field {
    display: grid;
    justify-items: end;
    align-items: end;
    padding: 27px 10px;
    width: 370px;
    height: 33px;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    background-color: #F1F1F1;
}
.display-field:focus {
    outline: none;
    
}


.buttons {
    
    width: 420px;
    height: 385px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}



.btn__state {
    height: 40px;
    display: flex;
    justify-content: end;    
}
.btn__state_container {
    width: 205px;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    
    background-color: #F1F1F1;
    display: grid;
    justify-items: center; 
    align-items: center;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}

.btn:active{
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25);;
}
.btn:hover {
    border: 1px solid #f1f1f1;
    transition: all .3s ease 0s;
}

.btn__function {
    width: 95px;
    height: 205px; 
    margin: 15px 25px 25px 0;
    
    display: flex;
    justify-content: end;
}

.btn__function_container {
    width: 95px;
    height: 205px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
    justify-items: center;
    
    
}

.equal {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-end: -1;
    height: 95px;
    
}


.btn__keyboard {
    position: relative;
    top: 55px;
    left: 95px;
    width: 150px;
    height: 220px;
    display: flex;
    
}

.btn__keyboard_container {
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.btn__memory {
    width: 40px;
    height: 260px;
    
    display: flex;
    justify-content: start;

}

.btn__memory_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}

.rvt {
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    box-shadow: none;
}



